*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap:40px;
    padding-top: 40px;
    margin: auto;

}

.sidebar{
    height:90vh;
    background-color: #2a2a2a;
    border: 1px solid aqua;
    border-radius: 16px;
    padding: 30px;
    position: sticky;
    top: 40px;
    animation:moving;


}



.content{

    background-color:#2a2a2a ;
    border: 1px solid aqua;
    border-radius: 16px;
    padding: 30px;
}


.about{

    background-color:#2a2a2a ;
    border: 1px solid cornflowerblue;
    border-radius: 16px;
    padding: 30px;

}

/* Profile information */
.profile{
    text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1.5px solid #3a3a3a;;

}
.profile h2{
    font-size: 1.5rem ;
    font-weight: 700px;
    margin-top:15px;
    color: #e0e0e0;

}
.profile p{
    background-color: #1e1e1e;
    padding:5px 15px;
    color:#ffbf00;
    font-size: 1rem;
    border:1px solid #3a3a3a;
    border-radius: 8px;
    display:inline-block;
    margin-top: 10px;
    font-weight: 500px;
}

/* contact information */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding: 20px;
  
}
.lebel{
    color: #a0a0a0;
    font-size: 0.8rem;
    font-weight: 500;

}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email , .phone{
    margin-bottom: 15px;
}

/* social media */
.social{
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
    

}
.social img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    filter: invert(95%) sepia(2%) saturate(16%) hue-rotate(20deg) brightness(104%) contrast(105%);
    transition: filter 0.3 ease;
}

.social img:hover{
     filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);

}

/* main content */

/* navigation */

#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: sticky;

    
}

nav{
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

nav,a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active , nav a:hover{
    color: darkorange;
}

/* about me */

.heading{
    color:#e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
    
}

.line{
    width:60px;
    height:8px;
    background-color: darkorange;
    margin-bottom: 15px;
    border-radius: 3px;
    
}

.content{
    text-align: justify;
    color: #a0a0a0; 
    
}

#about{
    margin-bottom: 40px;
}

/* skill section */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 40px;
}

.items{
    padding: 20px;
    border-radius: 10px;
    border:2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform(0.3s ease , box-shadow 0.3s ease);

}

.items img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(360deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.items h3{
    font-size: 1rem;
    font-weight: 500px;
}


.items:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}



/* education section */

#education{
    margin-top:40px;
}



.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.edtech{
    position: relative;
}

.college{
    margin-bottom: 10px;
    color: #a0a0a0;
    font-style: italic;
}

.work{
    color: #a0a0a0;
}

.edfirst,.edsecond{
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px;

}

.goal{
    height: 15px;
    width: 15px;
    border-radius:  50px;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 5.6px;
    border: 2px solid #3a3a3a;

}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 25px;
    margin-top: 30px;
    
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;



}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}

.project img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color:#a0a0a0;
    line-height: 1.6;
    margin-bottom: 20px;

}

.card span{
    background-color: rgb(255,195,0,0.1);
    color: #ffbf00;
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 5px;
    font-size:0.75rem;
}


@media(max-width:768px){
    .container{
        grid-template-columns: 1fr;
    }

    .sidebar{
        width:100%;
        height: auto;
        position: relative;
        top: 0;
        margin-bottom:20px
    }

    .content{
        width:100%
    }

}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

